<h1>Trip Edit Page</h1>

<form name="form" novalidate ng-submit="editTrip.editTrip()">
  <div class="form-group">
  <label for="name">Name:</label>
  <input class="form-control" type="text" name="tripName" placeholder="{{editTrip.trip.name}}" ng-model="editTrip.trip.name" required ><br>
    <div ng-messages="form.tripName.$error">
      <div ng-message="required" ng-if="form.$submitted">Trip name is required.</div>
    </div>
  </div>
  <label for="depart">Depart Date:</label>
  <input type="date" name="depart" ng-model="editTrip.trip.depart_date" required ><br>
    <div ng-messages="form.depart.$error">
      <div ng-message="required" ng-if="form.$submitted">Depart date is required.</div>
    </div>
  <label for="return">Return Date:</label>
  <input type="date" name="return" ng-model="editTrip.trip.return_date" required ><br>
    <div ng-messages="form.return.$error">
      <div ng-message="required" ng-if="form.$submitted">Return date is required.</div>
    </div>
  <input type="submit" value="Update Trip">
</form>
