<div ng-if="$ctrl.readMode">
    <div class="col-md-6">
      <h2>{{$ctrl.trip.name}}</h2>
      <p>Departing: {{ $ctrl.trip.depart_date | date: 'MM/dd/yyyy' }}</p>
      <p>Returning: {{ $ctrl.trip.return_date | date: 'MM/dd/yyyy' }}</p>
      <button class="btn btn-primary" ng-click="$ctrl.startEditMode()">Edit Trip      </button>
      <button class="btn btn-danger" ng-click="$ctrl.destroyTrip()">Delete Trip</button><br>
    </div>
    <div class="col-md-6">
      <h3>Notes</h3>
      <input class="form-control" type="text" ng-model="noteSearch" placeholder="Search for notes"/><br>
      <button class="btn btn-primary" ng-click="$ctrl.startNoteMode()">Add A Note</button><br>
      <div ng-repeat="note in $ctrl.trip.notes | filter:noteSearch">
        <p>{{ note.name }} -- {{ note.body }}</p><br>
      </div>

    </div>
</div>

<div ng-if="$ctrl.noteMode">
  <h2>Add A Note</h2>
  <button class="btn btn-danger" ng-click="$ctrl.closeNoteMode()">Close Note Form</button>
    <form name="noteForm" novalidate ng-submit="$ctrl.addNote()">
      <div class="form-group">
        <label for="note">Note Title:</label>
        <input class="form-control" type="text" name="noteTitle" ng-model="$ctrl.trip.noteTitle" required ><br>
        <div ng-messages="noteForm.noteTitle.$error">
          <div ng-message="required" ng-if="noteForm.$submitted">Note title is required.</div>
        </div>
        <label for="note">Note Body:</label>
        <textarea class="form-control" type="area" name="noteBody" ng-model="$ctrl.trip.noteBody" required ></textarea><br>
        <div ng-messages="noteForm.noteBody.$error">
          <div ng-message="required" ng-if="noteForm.$submitted">Note body is required.</div>
        </div>
        <input class="btn btn-primary" type="submit" value="Add Note">

      </div>
    </form>
</div>

<div ng-if="$ctrl.editMode">
  <h2>Edit Your Trip</h2>
  <button class="btn btn-danger" ng-click="$ctrl.closeEditMode()">Close Edit Form</button>
  <form  name="form" novalidate ng-submit="$ctrl.updateTrip()">
    <div class="form-group">
    <label for="name">Name:</label>
    <input class="form-control" type="text" name="tripName" placeholder="{{$ctrl.trip.name}}" ng-model="$ctrl.trip.name" required ><br>
      <div ng-messages="form.tripName.$error">
        <div ng-message="required" ng-if="form.$submitted">Trip name is required.</div>
      </div>
    </div>

    <div class="form-group">
    <label for="depart">Depart Date:</label>
    <input class="form-control" type="date" name="depart" ng-model="$ctrl.trip.depart_date" required ><br>
      <div ng-messages="form.depart.$error">
        <div ng-message="required" ng-if="form.$submitted">Depart date is required.</div>
      </div>
    </div>

    <div class="form-group">
    <label for="return">Return Date:</label>
    <input class="form-control" type="date" name="return" ng-model="$ctrl.trip.return_date" required ><br>
      <div ng-messages="form.return.$error">
        <div ng-message="required" ng-if="form.$submitted">Return date is required.</div>
      </div>
    </div>

    <input class="btn btn-primary" type="submit" value="Update Trip">
  </form>
    </div>
</div>
