<div ng-if="$ctrl.readMode">
    <div class="col-md-6"></div>
    <div class="col-md-6">
      <h2>{{$ctrl.trip.name}}</h2>
      <p>Departing: {{ $ctrl.trip.depart_date | date: 'MM/dd/yyyy' }}</p>
      <p>Returning: {{ $ctrl.trip.return_date | date: 'MM/dd/yyyy' }}</p>
      <h3>Notes</h3>
      <input type="text" ng-model="noteSearch"/><br>
      <div ng-repeat="note in $ctrl.trip.notes | filter:noteSearch">
        <p>{{ note.name }} -- {{ note.body }}</p><br>
      </div>
      <button class="btn btn-primary" ng-click="$ctrl.noteMode()">Add A Note</button><br>
      <button class="btn btn-primary" ng-click="$ctrl.startEditMode()">Edit Trip</button><br>
      <button class="btn btn-danger" ng-click="$ctrl.destroyTrip()">Delete Trip</button><br>

    </div>
</div>

<div ng-if="$ctrl.noteMode">
  <h2>Add A Note</h2>
  <div class="form-group">
    <label for="note">Note Title:</label>
    <input class="form-control" type="text" name="noteTitle" ng-model="$ctrl.trip.noteTitle" ><br>
    <label for="note">Note Body:</label>
    <input class="form-control" type="text" name="noteBody" ng-model="$ctrl.trip.noteBody" ><br>
  </div>

</div>

<div ng-if="$ctrl.editMode">
    <div class="col-md-6"></div>
    <div class="col-md-6">
    <h2>Edit Your Trip</h2>
  <form  name="form" novalidate ng-submit="$ctrl.updateTrip()">
    <div class="form-group">
    <label for="name">Name:</label>
    <input class="form-control" type="text" name="tripName" placeholder="{{$ctrl.trip.name}}" ng-model="$ctrl.trip.name" required ><br>
      <div ng-messages="form.tripName.$error">
        <div ng-message="required" ng-if="form.$submitted">Trip name is required.</div>
      </div>
    </div>

    <div class="form-group">
    <label for="depart">Depart Date:</label>
    <input class="form-control" type="date" name="depart" ng-model="$ctrl.trip.depart_date" required ><br>
      <div ng-messages="form.depart.$error">
        <div ng-message="required" ng-if="form.$submitted">Depart date is required.</div>
      </div>
    </div>

    <div class="form-group">
    <label for="return">Return Date:</label>
    <input class="form-control" type="date" name="return" ng-model="$ctrl.trip.return_date" required ><br>
      <div ng-messages="form.return.$error">
        <div ng-message="required" ng-if="form.$submitted">Return date is required.</div>
      </div>
    </div>

    <input class="btn btn-primary" type="submit" value="Update Trip">
  </form>
    </div>
</div>
